@model List<Product>

    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-6">
                <h2 class="text-primary">Product List:</h2>
            </div>      
        <div class="col-6 text end">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Create">
                <i class="bi bi-plus-square">Add Product</i>
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</div>